body {
    padding: 0%;
    margin: 0%;
}

main {
    padding: 16px;
}

footer {
    padding: 23px;
    font-size: 21px;
    background-color: rgba(4, 6, 139, 0.577);
    color: white;
}

img {
    height: 200px;
}

nav {
    border: black 1px;
    padding: 16px;
    background-color: rgba(4, 6, 139, 0.577);
    color: azure;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

}


nav>a {
    color: white;
}

h3>a {
    color: rgb(18, 162, 215);
}

.wrapper1 {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(1, 1fr);
}

a,
u {
    text-decoration: none;

}

tr:nth-child(even) {
    background-color: rgb(216, 234, 235);
}

a:hover {
    color: red;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
}

body {
    font-size: 18px;
    font-family: "Yellowtail", sans-serif;
    background-color: #0a010a;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png")
}

h1, h2 {
    color: #fff;
    text-align: center;
    font-weight: 400;
}

h1 {
    font-size: 5.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;
}

/* h2 {
    font-size: 1.8rem;
} */

@keyframes pulsate {

    100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #5271ff,
        0 0 80px #5271ff,
        0 0 90px #5271ff,
        0 0 100px #5271ff,
        0 0 150px #5271ff;

    }

    0% {

    text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #5271ff,
        0 0 73px #5271ff,
        0 0 80px #5271ff,
        0 0 94px #5271ff,
        0 0 140px #5271ff;
}
}
